.write-post{
    padding: 0 2rem;
    display: flex;
    align-items: center;
    border-radius: 0.5rem;
    border: 1px solid var(--color-main);
    background-color: var(--color-white);

    @mixin atMedium{
        padding: 0 1rem;
    }
   
    &__prof{
        width: 2.5rem;

        @mixin atMedium{
            width: 1.75rem;
        }
        @mixin atSmall{
            width: 1.5rem;
        }
    }

    &__status-box{
        margin: 1.5rem;
        border-radius: 0.5rem;
        width: 100%;
        border: none;
        font-size: var(--desktop-text-small);
        resize: none;
        @mixin atMedium{
            margin: 1rem;
            font-size: var(--tablet-text-small); 
        }
        @mixin atSmall{
            margin: 0.75rem;
            font-size: var(--mobile-text-medium); 
        }
    }
    &__status-box:focus{
        outline: none;
    }
    &__img-icon{
        font-size: 1.25rem;
        color: var(--color-main);

        @mixin atMedium{
            font-size: 1rem;
        }
    }
}