:root {
    box-sizing: border-box;
    --extra-small-text: 0.5rem;
    --small-text: 1rem;
    --medium-text: 1.25rem;
    --bigmedium-text: 1.5rem;
    --big-text: 1.75rem;
    --footer-text: 2rem;
}
body {
    font-family: 'Comfortaa', cursive;
    color: #333;
    background-color: #F5F5FA;
    padding: 0 10rem;
}
  

main{
    margin: 0;
}
aside{
    background-color: #ccc;
}
h1 {
    color: black;
}

input{
    border: 1px solid $main-goy-ungu!important;
}