:root {
    box-sizing: border-box;
    --extra-small-text: 11px;
    --small-text: 18px;
    --medium-text: 24px;
    --bigmedium-text: 30px;
    --big-text: 40px;
    --footer-text: 60px;
}
body {
    font-family: 'Comfortaa', cursive;
    color: #333;
    background-color: #F5F5FA;
    padding: 0 10rem;
}

main{
    margin: 0;
}
aside{
    background-color: #ccc;
}
h1 {
    color: black;
}


