@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');
@import 'normalize.css';
@import 'base/_variables.css';
@import 'base/_mixins.css';
@import 'base/_global.css';
@import 'modules/_header.css';
@import 'modules/_footer.css';
@import 'modules/_post.css';
@import 'modules/_writepost.css';
@import 'modules/_pagination.css';
@import 'modules/_btn.css';
@import 'modules/_notif.css';

@import 'modules/_index.css';
@import 'modules/_selectedcom.css';
@import 'modules/_discussion.css';
@import 'normalize.css';
@import 'modules/_badge.css';
@import 'modules/_chat.css';
@import 'modules/_header.css';
@import 'modules/_footer.css';
@import 'modules/_selectedcom.css';
@import 'modules/_footer.css';
@import 'modules/_pagination.css';
@import 'modules/_btn.css';
@import 'modules/darkmode.css';
/* @import 'modules/pagination.css'; */
