.chat-main {
    margin: 0 auto;
    width: 90%;
    overflow: hidden;
    background-color: $main-white;
    border: 0.75rem solid $main-goy-ungu;
    border-radius: 1rem;
    height: auto;

    &__container{
        background-color: $main-white;
        padding: 0 1.25rem;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: stretch;
        border-radius: 1rem;
        overflow-y: scroll;

        nav.users-window{
            max-width: 30%;
            color: $dark-grey;
            background-color: $main-white;
            border-right: solid 1rem $main-goy-ungu;
            
            .users-rooms{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                margin-left: -1rem;
                h3{

                }
                ul.rooms-list{
                    text-decoration: none;
                    li{
                        font-size: 0.75rem;
                        list-style: circle;
                        text-decoration: none;
                        padding: 0.25rem 0.5rem;
                    }
                }
            }

            div.users-head {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                margin-left: -1rem;
                h3{
                    
                }
                h4{
                    padding: 0 8px;
                    border: 50px;
                }
                .users-list li{
                    list-style: none;
                    text-decoration: none;
                    font-size: 0.75rem;
                    font-weight: 500;
                    padding: 0.25rem 0.5rem;
                }
            }
            @mixin atMedium{
                display: none;
                border-right: solid 0.25rem $main-goy-ungu;
            }
            @mixin atLarge{
                border-right: solid 0.5rem $main-goy-ungu;
            }
        }
        div.chat-window {
            width: 100%;
            border-radius: 10px;
            background-color: $main-white;
            position: relative;
            div.room-name{
                padding: 0.5rem 1rem;
                border-bottom: 1rem solid $main-goy-ungu;
                .room-picture{
                    border-radius: 50%;
                    border: none;
                    width: 3rem;
                    height: 3rem;
                    margin: auto 1rem;
                }
                h1{

                }
                @mixin atLarge{
                    border-bottom: 0.5rem solid $main-goy-ungu;
                }
                @mixin atMedium{
                    border-bottom: 0.25rem solid $main-goy-ungu;
                }
            }
            button.leave-btn{
                position: absolute;
                top: 0;
                right: 0;
                padding: 5px 10px;
                border-radius: 5px;
                color: $main-white;
                background-color: $main-goy-ungu-op;
            }
            div.chats{
                min-height: 60vh;
                max-width: 100%;
                padding: 20px;
                div.user-join {
                    font-size: 0.75rem;
                    color: $main-goy-ungu;
                    width: max-content;
                    padding: 0.5rem 1rem;
                    margin: 0 auto;
                    margin-bottom: 1rem;
                    &__text{
                        .profile-picture{
                            border-radius: 50%;
                            border: none;
                            width: 1rem;
                            height: 1rem;
                            margin: 0;
                        }
                    }
                }
                div.message{
                    color: $dark-grey;
                    display: flex;
                    flex-direction: row;
                    padding: 1rem;
                    max-width: max-content;
                    margin: 0;
                    justify-content: center;
                    align-items: center;
                    .profile-picture{
                        border-radius: 50%;
                        border: none;
                        width: 3rem;
                        height: 3rem;
                        margin: auto 0;
                        padding: 0.5rem 1rem;
                        
                    }
                    &__text{
                        h5{
                            display: flex;
                            justify-content: flex-start;
                            padding-left: 2rem;
                        }
                        p{
                            font-size: 1rem;
                            max-width: 400px;
                            padding: 1rem;
                            background-color: $main-goy-ungu-op;
                            border-radius: 2.5rem;
                        }
                    }
                }
                div.outgoing{
                    margin-left: auto;
                    display: flex;
                    flex-direction: row;
                    border-radius: 3rem;
                    h5{
                        justify-content: flex-end;
                        margin-right: 2rem;
                    }
                }
            }
            div.user-input{
                border: 1px solid $main-goy-ungu;
                border-radius: 1rem;
                margin: auto;
                margin-bottom: 1rem;
                max-width: 90%;
                min-height: auto;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: stretch;
                padding: 1rem 2rem;
                input{
                    font-size: 1rem;
                    background-color: $main-white;
                    padding: 10px 20px;
                    outline: none;
                    border: 1px solid $main-goy-ungu-op;
                    width: 100%;
                    border-radius: 3rem;
                    margin: 0 1rem;
                }
                button{
                    font-size: 16px;
                    font-weight: 500;
                    padding: 0.5rem 2rem;
                    border: none;
                    outline: none;
                    letter-spacing: 0.5px;
                    color: $main-white;
                    background-color: $main-goy-ungu;
                    border-radius: 3rem;
                    @mixin atMedium{
                        padding: 0.5rem 1rem;
                    }
                }
            }
        }
    }
    @mixin atLarge{
        margin: auto;
        overflow: hidden;
        background-color: $main-white;
        border: 0.5rem solid $main-goy-ungu;
        border-radius: 0.5rem;
        height: auto;

    }
}

@mixin atSmall {
    .chat-main {
        width: 95%;
        margin: auto;
        overflow: hidden;
        background-color: $main-white;
        border: 0.5rem solid $main-goy-ungu;
        border-radius: 0.5rem;
        height: auto;
        
        button{
            display: block;
        }
        &__container{
            position: relative;
            div.users-window{
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                border: 0 0 10px 10px;
                height: max-content;
                z-index: 4;
                box-shadow: 0 15px 20px -20px black;
                padding: 0;
            }
            div.chat-window{
                div.chats{
                    div.message{
                        max-width: 300px;
                    }
                }
            }
        }
    }
}
