main {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    overflow: hidden;
    background-color: lightgray;

    header {
        background-color: inherit;
        color: black;
        padding: 7px 20px;
        display: flex;
        flex-direction: row;
        justify-content: flex-between;
        align-items: center;
        div.title {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
        }
        button{
            background: transparent;
            border: none;
            outline: none;

        }
    }
    div.container{
        background-color: $main-white;
        padding: 20px;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: stretch;
        div.users-window{
            width: 350px;
            color: white;
            background-color: $dark-grey;
            padding: 15px 20px;
            border-radius: 10px;
            margin-right: 20px;
            .users-rooms{
                ul{
                    text-decoration: none;
                    li{
                        text-decoration: none;
                        list-style: none;
                    }
                }
            }
            div.users-head {
                margin: 15px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
                
                }
                h4{
                    background-color: lightgrey;
                    padding: 0 8px;
                    border: 50px;
                }
                div.users-list p{
                    font-size: 16px;
                    font-weight: 500;
                    margin-bottom: 15px;
                }
        }
        div.chat-window {
            width: 100%;
            border-radius: 10px;
            background-color: #3f3f3f;
            position: relative;
            button.leave-btn{
                position: absolute;
                top: 0;
                right: 0;
                padding: 5px 10px;
                border-radius: 5px;
                color: $main-white;
                background-color: $main-goy-ungu;
            }
            div.chats{
                min-height: 65vh;
                padding: 20px;
                div.user-join {
                    font-size: 0.9rem;
                    color: #3f3f3f;
                    border-radius: 50px;
                    width: max-content;
                    padding: 7px 20px;
                    margin: 0 auto;
                    margin-bottom: 15px;

                }
                div.message{
                    color: #3f3f3f;
                    background-color: $main-white;
                    padding: 5px 15px;
                    max-width: 400px;
                    margin-bottom: 15px;
                    border-radius: 10px 50px 50px 10px;
                    .profile-picture{
                        border-radius: 50%;
                        border: none;
                        width: 2rem;
                    }
                    p{
                        font-size: 16px;
                    }
                }
                div.outgoing{
                    margin-left: auto;
                    color: $main-white;
                    background-color: $main-goy-ungu;
                    border-radius: 50px 10px 10px 50px;
                }
            }
            div.user-input{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: stretch;
                padding: 20px;
                input{
                    font-size: 16px;
                    background-color: $main-white;
                    padding: 10px 20px;
                    outline: none;
                    border: 1px solid $main-goy-ungu;
                    width: 100%;
                    border-radius: 50px 0 0 50px;

                }
                button{
                    font-size: 16px;
                    font-weight: 500;
                    padding: 5px 15px;
                    border: none;
                    outline: none;
                    letter-spacing: 0.5px;
                    color: $main-white;
                    background-color: $main-goy-ungu;
                    border-radius: 0 50px 50px 0;

                }
            }
        }
    }
}

@mixin atSmall {
    main {
        width: 95%;
        button{
            display: block;
        }
        div.container{
            position: relative;
            div.users-window{
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                border: 0 0 10px 10px;
                height: max-content;
                z-index: 5;
                box-shadow: 0 15px 20px -20px black;
                padding: 0;
                display: none;
            }
            div.chat-window{
                div.chats{
                    div.message{
                        max-width: 300px;
                    }
                }
            }
        }
    }
}
