.sub-container1 {
    display: flex;
    flex-direction: row;
    gap: 0;
}

.post-reactions {
    display: flex;
    flex-direction: column;
    margin: 2rem 1rem 2rem 0;
    gap: 2rem;
}

@media (max-width: 576px) {
    .post-reactions {
        display: none;
    }
}

.post-reactions__icon {
    width: 1.2rem;
    height: 1.2rem;
    padding: 0.75rem;
    font-size: 1.2rem;
    border-radius: 50%;
    background-color: var(--color-white);
    color: var(--color-light-grey);
}

@media (min-width: 768px) {
    .post-reactions__icon {
        width: 1rem;
        height: 1rem;
        padding: 0.5rem;
        font-size: 1rem;
    }
}

.sub-container2 {
    margin: 0;
}

.write-comment {
    display: flex;
    flex-direction: column;
    background-color: var(--color-white);
    padding: 1rem 2rem;
    border: 1px solid var(--color-main);
    border-radius: 0.5rem;
}

@media (min-width: 768px) {
    .write-comment {
        padding: 0.5rem 1rem;
    }
}

.write-comment__input {
    width: 100%;
    resize: none;
    border: none;
    border-radius: 0.5rem;
    padding: 1rem 0;
    font-size: var(--desktop-text-small);
}

@media (min-width: 768px) {
    .write-comment__input {
        font-size: var(--tablet-text-small);
    }
}

@media (max-width: 576px) {
    .write-comment__input {
        font-size: var(--mobile-text-small);
    }
}

.write-comment__input:focus {
    outline: none;
}

.write-comment__send-button {
    align-self: flex-end;
}
.post-comments {
    border: 1px solid var(--color-main);
    border-radius: 0.5rem;
    padding: 1rem 2rem;
    background-color: var(--color-white);
    margin-top: 2rem;
    text-align: center;
}

@media (min-width: 768px) {
    .post-comments {
        padding: 0.5rem 1rem;
    }
}

.post-comments__filter {
    display: flex;
    direction: row;
    align-items: center;
}

.post-comments__filter__total {
    justify-self: flex-start;
    font-size: var(--desktop-text-small);
    margin-right: auto;
}

@media (min-width: 768px) {
    .post-comments__filter__total {
        font-size: var(--tablet-text-small);
    }
}

@media (max-width: 576px) {
    .post-comments__filter__total {
        font-size: var(--mobile-text-small);
    }
}

.post-comments__filter__new-button,
.post-comments__filter__trending-button {
    margin-left: 0.75rem;
}

.post-comments__view-more {
    border: none;
    background-color: transparent;
    font-size: var(--desktop-text-xsmall);
    padding: 2rem 1rem 1rem 1rem;
}

@media (min-width: 768px) {
    .post-comments__view-more {
        padding: 1rem;
        font-size: var(--tablet-text-small);
    }
}

@media (max-width: 576px) {
    .post-comments__view-more {
        font-size: var(--mobile-text-small);
    }
}
.single-comment {
    padding: 1rem 0;
}

@media (min-width: 768px) {
    .single-comment {
        padding: 0.5rem 0;
    }
}

.single-comment__profile {
    display: flex;
    direction: row;
    align-items: center;
}

.single-comment__profile__img {
    width: 2rem;
    margin-right: 1rem;
}

@media (min-width: 768px) {
    .single-comment__profile__img {
        width: 1.75rem;
        margin-right: 0.75rem;
    }
}

@media (max-width: 576px) {
    .single-comment__profile__img {
        width: 1.5rem;
        margin-right: 0.5rem;
    }
}

.single-comment__profile__name {
    font-size: var(--desktop-text-medium);
}

@media (min-width: 768px) {
    .single-comment__profile__name {
        font-size: var(--tablet-text-medium);
    }
}

@media (max-width: 576px) {
    .single-comment__profile__name {
        font-size: var(--mobile-text-medium);
    }
}

.single-comment__detail {
    font-size: var(--desktop-text-small);
    text-align: justify;
    margin: 0;
}

@media (min-width: 768px) {
    .single-comment__detail {
        font-size: var(--tablet-text-small);
    }
}

@media (max-width: 576px) {
    .single-comment__detail {
        font-size: var(--mobile-text-small);
    }
}

.single-comment__reactions {
    display: flex;
    direction: row;
    align-items: center;
    justify-content: flex-start;
}

.single-comment__reactions__list {
    padding-right: 2rem;
    font-size: var(--desktop-text-small);
}

@media (min-width: 768px) {
    .single-comment__reactions__list {
        font-size: var(--tablet-text-small);
        padding-right: 1.75rem;
    }
}

@media (max-width: 576px) {
    .single-comment__reactions__list {
        font-size: var(--mobile-text-small);
        padding-right: 1.5rem;
    }
}

.single-comment__reactions__list i {
    padding-right: 0.75rem;
}

@media (min-width: 768px) {
    .single-comment__reactions__list i {
        padding-right: 0.5rem;
    }
}