.footer{
    background-color: var(--color-white);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0.75rem auto;
    padding: 1rem 5rem;
    max-width: 100%;
    border-radius: 0.5rem;
    &__nav{
        flex-direction: row;
        align-self: flex-start;
        h3{
            text-align: center;
            font-size: var(--desktop-text-medium);
        }
        ul{
            list-style: none;
            font-size: var(--desktop-text-small);
            li{
                list-style: none;
                margin-bottom: 1rem;
                margin-bottom: 1rem;
                a{
                    text-decoration: none;
                    i{
                        margin-right: 1rem;
                        color: var(--color-main);
                    }
                }
            }
        }
        @mixin atLarge{
            display: none;
        }
    }
    &__copyright{
        display: flex;
        flex-direction: column;
        align-items: center;
        h3{
            color: var(--color-main);
            font-size: var(--desktop-text-xlarge);
            justify-content: center;
            img{
                width: 3rem;
                height: 3rem;
                margin-right: 2rem;
                margin-right: 2rem;
            }
        }
        p{
            color: var(--color-main);
            font-size: var(--desktop-text-small);
        }
        @mixin atMedium{
            h3{
                font-size: var(--tablet-medium-text);
                img{
                    width: 2rem;
                    height: 2rem;
                    margin-right: 1rem;
                }
            }     
            p{
                font-size: var(--tablet-text-small);
            }
        }
        @mixin atSmall{
            flex-direction: column;
            h3{
                font-size: var(--mobile-medium-text);
                img{
                    width: 2rem;
                    height: 2rem;
                    margin-right: 1rem;
                }
            }     
            p{
                font-size: var(--mobile-text-small);
            }
        }
    }
    &__contacts{
        flex-direction: row;
        align-self: flex-start;
        h3{
            text-align: center;
            font-size: var(--desktop-text-medium);
            margin-bottom: 2rem;
        }
        i{
            align-items: center;    
            justify-content: center;
            margin: 1rem;
            color: var(--color-main);
            font-size: var(--desktop-text-medium);
        }
        @mixin atMedium{
            i{
                margin-right: 0.5rem;
                font-size: var(--tablet-text-medium);
            }
            h3{
                font-size: var(--tablet-text-small);
            }   
            p{
                font-size: var(--tablet-text-small);
            }
        }
        @mixin atSmall{
            flex-direction: column;
            justify-content: center;
            align-items: center;
            h3{
                font-size: var(--tablet-text-medium);
            }   
            p{
                font-size: var(--tablet-text-small);
            }
            i{
                margin: 0.5rem;
                font-size: var(--tablet-text-small);
            }
        }
        
    }
    @mixin atSmall{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}