.footer{
    background-color: $main-white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0.75rem auto;
    padding: 1rem 5rem;
    max-width: 100%;
    &__nav{
        flex-direction: row;
        align-self: flex-start;
        h3{
            text-align: center;
            font-size: var(--medium-text);
        }
        ul{
            list-style: none;
            font-size: var(--small-text);
            li{
                list-style: none;
                margin-bottom: 1rem;
                margin-bottom: 1rem;
                a{
                    text-decoration: none;
                    i{
                        margin-right: 1rem;
                        color: $main-goy-ungu;
                    }
                }
            }
        }
        @mixin atLarge{
            display: none;
        }
        @mixin atLarge{
            display: none;
        }
    }
    &__copyright{
        display: flex;
        flex-direction: column;
        align-items: center;
        h3{
            color: $main-goy-ungu;
            font-size: 3rem;
            justify-content: center;
            img{
                width: 3rem;
                height: 3rem;
                margin-right: 2rem;
                margin-right: 2rem;
            }
        }
        p{
            color: $main-goy-ungu;
            font-size: var(--small-text);
        }
        @mixin atMedium{
            h3{
                font-size: 2rem;
                img{
                    width: 2rem;
                    height: 2rem;
                    margin-right: 1rem;
                }
            }
                
        }
    }
    &__contacts{
        flex-direction: row;
        align-self: flex-start;
        h3{
            text-align: center;
            font-size: var(--medium-text);
            margin-bottom: 2rem;
        }
        i{
            align-items: center;    
            justify-content: center;
            margin-right: 1rem;
            color: $main-goy-ungu;
        }
        .fa-brands{
            font-size: 1.5rem;
            margin: 1rem;
        }
    }
    @mixin atMedium{
            
    }
    @mixin atMedium{
            
    }
}