.main-header{
    margin: 0.75rem 0;
    background-color: var(--color-white);
    color: var(--color-main);
    padding: 0 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 0.5rem;
<<<<<<< HEAD
    max-width: 100%;
      .sidemenu{
  
    #check{
  display: none;
}
label &__hamburger{
position: absolute;
cursor: pointer;   
border-radius: 3px;    
}
label &__hamburger{
  left: 400px;
  top: 10px;
  font-size: 35px;
  padding: 6px 12px;
  transition: all .5s;
}
label &__cancel{
  z-index: 1111;
  left: 350px;
  top: 25px;
  font-size: 35px;
  padding: 6px 12px;
  transition: all .5s;
}
#check:checked ~.sidebar{
  left: 0;

}


#check:checked ~ label &__hamburger{
  left: 250px;
}


.sidemenu{
position: fixed;
left: -250px;
top: 0;
width: 250px;
height: 100%;
transition: all .5s ease;

}
.sidebar{
  position: fixed;
  left: -350px;
  top: 5%;
  width: 250px;
  height: 100%;
  transition: all .5s ease;
  background-color: $main-white; /* Set your desired sidebar background color */
  padding: 20px;
  color: #fff; /* Set your desired text color */   
 }

ul a{

  display: block;
  height: 100%;
  width: 100%;
  line-height: 65px;
  font-size: 20px;
  color: blue;
  padding-left: 40px;
  box-sizing: border-box;
  border-top: 1px solid rgba(255,255,255,.1);
  border-bottom: 1px solid black;
i{
  margin-right: 16px;
}
}
ul li:hover a{
  padding-left: 50px;

}  
}
    &__logo{
        max-width: 30px;
        left: 400px;
=======

    @mixin atMedium{
      padding: 0 1rem;
>>>>>>> 9e7f42bdd7ab6f20a8fe530bc97420ace4f15b9e
    }

    &__container1{
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 1rem;

      @mixin atMedium{
        gap: 0.75rem;
        font-size: var(--tablet-text-small);
      }

      @mixin atSmall{
        gap: 0.25rem;
        font-size: var(--mobile-text-small);
      }

      &__logo{
        width: 2rem;
        height: 2rem;

        @mixin atMedium{
          width: 1.5rem;
          height: 1.5rem;
        }

        @mixin atSmall{
          width: 1rem;
          height: 1rem;
        }
      }
    }
    
    &__search-bar {
        display: flex;
        align-items: center;
        width: calc(100%/3);
        padding: 0.25rem 1.25rem;
        border-radius: 1.25rem;
        background-color: var(--color-background-white); 

        @mixin atSmall{
          width: 0;
          padding: 0;
          margin: 0;
        }
    }
      
    &__search-field {
        width: 100%;
        padding: 0.25rem;
        margin: 0 0.5rem;
        border: none;
        background-color: transparent;

        @mixin atSmall{
          display: none;
        }
       
    }
    &__search-field:focus{
        outline: none;
    }

    &__search-field::placeholder{
      font-size: var(--desktop-text-small);
      color: var(--color-main);

      @mixin atMedium{
        font-size: var(--tablet-text-small);
      }    

    }

    &__container2{
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 4rem;
      color: var(--color-main);
      
<<<<<<< HEAD
      
    @mixin atSmall{
    width: 100%;
=======
      &--icons{
        
        @mixin atMedium{
          gap: 2rem;
        }

        @mixin atSmall{
          gap: 1rem;
        }
      }

      &--buttons{
        gap: 1rem;
      }
      &__notif,
      &__profile {
        text-decoration: none;
        font-size: 1.25rem;
        color: var(--color-main);
      }
      &__user{
        display: none;
        
        @mixin atSmall{
          display: flex;
        }
      }

    }
      
    
    
      /* Style for the hamburger icon 
    &__hamburger {
      font-size: 1.25rem;
    }*/ 
      
      /* Style for the sidebar */
      &__nav {
        display: none;/*
        flex-direction: column;
        position: fixed;
        top: 0;
        left: -250px; /* This will hide the sidebar by default 
        width: 250px; /* Set your desired sidebar width 
        height: 100%;
        background-color: #444; /* Set your desired sidebar background color 
        padding: 20px;
        color: #fff; /* Set your desired text color 
        transition: left 0.3s ease;
        z-index: 1;*/
      }
      
      /* Style for the navigation list in the sidebar 
      &__navlist {
        list-style: none;
        padding: 0;
      }
      
      &__item {
        margin-bottom: 10px;
      }
      
      &__item a {
        text-decoration: none;
        color: #fff; /* Set your desired link color 
      }
      
      /* Show the sidebar when the hamburger icon is clicked 
      &__hamburger:focus + &__nav {
        left: 0;
      }
      
      /* Hide the sidebar when the hamburger icon is clicked again 
      &__hamburger:focus + &__nav:focus-within {
        left: -250px;
      }
      */
    @mixin atLarge{
        padding: 0 1.5rem;
        font-size: var(--medium-text);
        i{
          width: 10px;
          height: 10px;
        }
        &__container1{    
          &__logo{
            width: 1.5rem;
            height: 1.5rem;
          }
        }
        &__search-bar {
          width: calc(100%/3);
      }
    }
    @mixin atMedium{
      font-size: var(--small-text);
      &__container1{    
        &__logo{
          width: 1rem;
          height: 1rem;
        }
      }
      &__search-bar {
        width: calc(100%/4);
    }
    }
    @mixin atSmall{
      width: 90%;
      font-size: var(--small-text);
      &__container1{    
        &__logo{
          width: 1rem;
          height: 1rem;
        }
      }
      &__search-bar {
        width: calc(100%/5);
      }
      i{
        font-size: 15px;
      } 
>>>>>>> 9e7f42bdd7ab6f20a8fe530bc97420ace4f15b9e
    }
}
<<<<<<< HEAD
    
  
  


/* Style for the hamburger icon */
&__hamburger {
  cursor: pointer;
}

/* Style for the sidebar */
&__nav {
  display: none;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: -250px; /* This will hide the sidebar by default */
  width: 250px; /* Set your desired sidebar width */
  height: 100%;
  background-color: #444; /* Set your desired sidebar background color */
  padding: 20px;
  color: #fff; /* Set your desired text color */
  transition: left 0.3s ease;
  z-index: 1;
}

/* Style for the navigation list in the sidebar */
&__navlist {
  list-style: none;
  padding: 0;
}

&__item {
  margin-bottom: 10px;
}

&__item a {
  text-decoration: none;
  color: #fff; /* Set your desired link color */
}

/* Show the sidebar when the hamburger icon is clicked */
&__hamburger:focus + &__nav {
  left: 0;
}

/* Hide the sidebar when the hamburger icon is clicked again */
&__hamburger:focus + &__nav:focus-within {
  left: -250px;
}

=======
>>>>>>> 9e7f42bdd7ab6f20a8fe530bc97420ace4f15b9e
