.post-section {
    padding-top: 1rem;
}

.post-section__category {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
}

.post-section__category__title {
    font-size: var(--desktop-text-medium);
}

.post-section__category__view-more {
    font-size: var(--desktop-text-xsmall);
    text-decoration: none;
    color: var(--color-black);
    cursor: pointer;
}
.post-section__category__view-more:hover {
    color: var(--color-main);
}

@media screen and (max-width: 860px) {
    .post-section {
        padding-top: 0.5rem;
    }

    .post-section__category__title {
        font-size: var(--tablet-text-medium);
    }

    .post-section__category__view-more {
        font-size: var(--tablet-text-small);
    }
}

@media screen and (max-width: 693px) {
    .post-section {
        padding-top: 0.25rem;
    }

    .post-section__category__title {
        font-size: var(--mobile-text-medium);
    }

    .post-section__category__view-more {
        font-size: var(--mobile-text-small);
    }
}