.post-section {
    padding-top: 1rem;
}

.post-section__category {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
}

.post-section__category__title {
    font-size: var(--desktop-text-medium);
}

.post-section__category__view-more {
    font-size: var(--desktop-text-xsmall);
    text-decoration: none;
    color: var(--color-black);
    cursor: pointer;
}
.post-section__category__view-more:hover {
    color: var(--color-main);
}

@media screen and (max-width: 860px) {
    .post-section {
        padding-top: 0.5rem;
    }

    .post-section__category__title {
        font-size: var(--tablet-text-medium);
    }

    .post-section__category__view-more {
        font-size: var(--tablet-text-small);
    }
}

@media screen and (max-width: 693px) {
    .post-section {
        padding-top: 0.25rem;
    }

    .post-section__category__title {
        font-size: var(--mobile-text-medium);
    }

    .post-section__category__view-more {
        font-size: var(--mobile-text-small);
    }
}

.write-post {
    padding: 0 2rem;
    display: flex;
    align-items: center;
    border-radius: 0.5rem;
    border: 1px solid var(--color-main);
    background-color: var(--color-white);
}

.write-post__prof {
    width: 2.5rem;
}

.write-post__status-box {
    margin: 1.5rem;
    border-radius: 0.5rem;
    width: 100%;
    border: none;
    font-size: var(--desktop-text-small);
    resize: none;
}

.write-post__status-box:focus {
    outline: none;
}

.write-post__img-icon {
    font-size: 1.25rem;
    color: var(--color-main);
}

@media screen and (max-width: 1260px) {
    .write-post__prof {
        width: 1.75rem;
    }
}

@media screen and (max-width: 860px) {
    .write-post {
        padding: 0 1rem;
    }
    .write-post__status-box {
        margin: 1rem;
        font-size: var(--tablet-text-small);
    }
    .write-post__img-icon {
        font-size: 1rem;
    }
}

@media screen and (max-width: 693px) {
    .write-post__prof {
        width: 1.5rem;
    }
    .write-post__status-box {
        margin: 0.75rem;
        font-size: var(--mobile-text-medium);
    }
}