.pagination{
    &__list{
        display: flex;
        direction: row;
        list-style: none;
        justify-content: center;
        align-items: center;
        font-size: var(--small-text);
    }
    &__arrow{
        color: $main-goy-ungu;
        margin: 0;
        padding: 0;
        align-self: center;
    }
    &__arrow a{
        text-decoration: none;
    }
    &__number{
        height: 2.5rem;
        width: 2.5rem;
        border: 1px solid $main-goy-ungu;
        border-radius: 2.5rem;
        color: $main-goy-ungu;
    }
    &__number a{
        text-decoration: none;
    }
}