.pagination{
    &__list{
        display: flex;
        direction: row;
        list-style: none;
        justify-content: center;
        align-items: center;
        font-size: var(--small-text);
        gap: 1.5rem;
    }
    &__arrow,
    &__number{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &__number{
        width: 2.5rem;
        height: 2.5rem;
        border: 1px solid $main-goy-ungu;
        border-radius: 50%;
    }
    &__arrow a,
    &__number a{
        text-decoration: none;
        color: $main-goy-ungu;
    }
    &__arrow i{
        padding: 0 1rem;
        font-size: 1.25rem;
        color: $main-goy-ungu;
    }
}