.pagination-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pagination-button {
    background-color: inherit;
    color: var(--color-main);
    border: none;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}
.pagination-button:hover{
    cursor: pointer;
    background-color: var(--color-white);
}

.pagination {
    display: flex;
    list-style: none;
    padding: 0;
}

.pagination li {
    margin: 0 0.5rem;
    cursor: pointer;
}

.active {
    font-weight: bold;
    color: var(--color-main);
}



/*.pagination{
    &__list{
        display: flex;
        direction: row;
        list-style: none;
        justify-content: center;
        align-items: center;
        font-size: var(--desktop-text-small);
        gap: 1.5rem;
        @mixin atMedium{
            font-size: var(--tablet-text-small);
            gap: 1rem;
        }
        @mixin atSmall{
            font-size: var(--mobile-text-small);
            gap: 0.5rem;
        }
    }
    &__arrow,
    &__number{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &__number{
        width: 2.5rem;
        height: 2.5rem;
        border: 1px solid var(--color-main);
        border-radius: 50%;
        @mixin atMedium{
            width: 2rem;
            height: 2rem;
        }
        @mixin atSmall{
            width: 1.5rem;
            height: 1.5rem;
        }
    }
    &__arrow a,
    &__number a{
        text-decoration: none;
        color: var(--color-main);
    }
    &__arrow i{
        padding: 0 1rem;
        font-size: 1.25rem;
        color: var(--color-main);
        @mixin atMedium{
            font-size: 1rem;
            padding: 0 0.5rem;
        }
        @mixin atSmall{
            font-size: 0.75rem;
            padding: 0 0.25rem;
        }
    }
}

*/