.post{
    padding: 1rem 2rem;
    margin-bottom: 1.5rem;
    background-color: var(--color-white);
    border-radius: 0.5rem;
    border: 1px solid var(--color-main);

    @mixin atMedium{
        padding: 0.5rem 1rem;
    }
    &__profile{
        display: flex;
        direction: row;
        align-items: center;
        margin: 0;
        
        &__img{
            width: 2.5rem;
            padding-right: 1.5rem;

            @mixin atMedium{
                width: 1.75rem;
                padding-right: 1rem;
            }

            @mixin atSmall{
                width: 1.5rem;
                padding-right: 0.75rem;
            }
        }
        &__name{
            font-size: var(--desktop-text-medium);
            @mixin atMedium{
                font-size: var(--tablet-text-medium);
            }

            @mixin atSmall{
                font-size: var(--mobile-text-medium);
            }
        }
        &__time{
            margin-left: auto;
            opacity: 0.5;
            @mixin atMedium{
                font-size: var(--tablet-text-small);
            }

            @mixin atSmall{
                font-size: var(--mobile-text-small);
            }
        }
        &__time--down{
            display: flex;
            justify-content: flex-end;
            font-size: var(--desktop-text-xsmall);

            @mixin atMedium{
                font-size: var(--tablet-text-xsmall);
            }

            @mixin atSmall{
                font-size: var(--mobile-text-xsmall);
            }
        }
        &__community{
            margin-left: auto;
            opacity: 0.5;
            font-size: var(--desktop-text-small);
            @mixin atMedium{
                font-size: var(--tablet-text-small);
            }
            @mixin atSmall{
                font-size: var(--mobile-text-medium);
            }
        }
    }

    hr{
        opacity: 0.5;
        margin: 0;
    }

    &__title{
        font-size: var(--desktop-text-medium);
        font-weight: bold;

        @mixin atMedium{
            font-size: var(--tablet-text-medium);
        }

        @mixin atSmall{
            font-size: var(--mobile-text-medium);
        }
    }
    &__detail{
        font-size: var(--desktop-text-small);
        text-align: justify;
        @mixin atMedium{
            font-size: var(--tablet-text-small);
        }
        @mixin atSmall{
            font-size: var(--mobile-text-small);
        }
    }
    &__reactions{
        display: flex;
        direction: row;
        justify-content: flex-start;
        @mixin atMedium{
            font-size: var(--tablet-text-small);
        }
        @mixin atSmall{
            font-size: var(--mobile-text-small);
        }

        &--hidden{
            display: none;
            @mixin atSmall{
                display: flex;
            }
        }

        &__list{
            padding-right: 2.5rem;
            @mixin atMedium{
                padding-right: 1.25rem;
            }
            @mixin atSmall{
                padding-right: 1rem;
            }
        }
        &__list i{
            padding-right: 1rem;
            @mixin atMedium{
                padding-right: 0.5rem;
            }
            @mixin atMedium{
                padding-right: 0.25rem;
            }
        }
        &__list:active{
            color: var(--color-main);
            font-weight: 900;
        }
        
    }
}
