.write-post {
    padding: 0 2rem;
    display: flex;
    align-items: center;
    border-radius: 0.5rem;
    border: 1px solid var(--color-main);
    background-color: var(--color-white);
}

@media screen and (max-width: 860px) {
    .write-post {
        padding: 0 1rem;
    }
}

.write-post__prof {
    width: 2.5rem;
}

@media screen and (max-width: 1260px) {
    .write-post__prof {
        width: 1.75rem;
    }
}

@media screen and (max-width: 693px) {
    .write-post__prof {
        width: 1.5rem;
    }
}

.write-post__status-box {
    margin: 1.5rem;
    border-radius: 0.5rem;
    width: 100%;
    border: none;
    font-size: var(--desktop-text-small);
    resize: none;
}

@media screen and (max-width: 860px) {
    .write-post__status-box {
        margin: 1rem;
        font-size: var(--tablet-text-small);
    }
}

@media screen and (max-width: 693px) {
    .write-post__status-box {
        margin: 0.75rem;
        font-size: var(--mobile-text-medium);
    }
}

.write-post__status-box:focus {
    outline: none;
}

.write-post__img-icon {
    font-size: 1.25rem;
    color: var(--color-main);
}

@media screen and (max-width: 860px) {
    .write-post__img-icon {
        font-size: 1rem;
    }
}