.popup-container{
    position: relative;
}

.popup{
    width: 13.5rem;
    max-height: 23rem;
    border: 2px solid var(--color-main);
    background-color: var(--color-white);
    padding: 0.5rem 1rem 0.75rem 1rem;
    border-radius: 1rem 0 1rem 1rem;
    text-align: center;
    position: absolute;
    top: calc(100% + 1rem);
    right: calc(100% - 0.5rem);
    z-index: 1;
    display: none;

    &__title{
        font-size: var(--desktop-text-small);
        color: var(--color-black);
    }

    &__list{
        list-style-type: disc;
        color: var(--color-black);
        padding: 0;

        &--profile{
            list-style: none;
            color: var(--color-main);
            text-align: center;
        }

        &__item{
            margin-left: 1.5rem;
            padding-bottom: 1rem;
            text-align: start;

            &--profile{
                text-align: center;
                margin-left: 0;
            }
        }

        &__item a{
            text-decoration: none;
            font-size: var(--desktop-text-xsmall);
            color: var(--color-black);
        }
    }

    &__viewmore{
        font-size: var(--desktop-text-xsmall);
        color: var(--color-main);
    }

}